@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --background-color: white;
  --primary-color: black;
  --secondary-color: #e9e8e8;
  --accent-color: #e60023;
  --text-color: #797879;
  --hover-color: #79787985;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  padding: 20px 30px;
}

.logo {
  margin-right: 20px;
}

.search-input {
  flex-grow: 1;
  padding: 15px 20px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
}

nav {
  display: flex;
}

.homeButton,
.logingButton,
.searchButton,
.registerButton,
.logingMobileButton,
.registerMobileButton {
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
}

.homeButton {
  background-color: var(--primary-color);
  color: white;
  margin-right: 20px;
}

.logingButton,
.searchButton {
  margin-left: 20px;
  background-color: var(--secondary-color);
  color: black;
}

.searchButton:hover {
  background-color: var(--hover-color);
}

.registerButton {
  margin-left: 20px;
  background-color: var(--accent-color);
  color: white;
}

.logingMobileButton {
  margin-left: 20px;
  background-color: var(--secondary-color);
  color: black;
}

.registerMobileButton {
  margin-top: 20px;
  margin-left: 20px;
  background-color: var(--accent-color);
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 20%;
  margin-right: 20%;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  width: 100%;
  height: auto;
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 8px;
  overflow: hidden;
}

.menu-btn {
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 24px;
  background: none;
  color: var(--primary-color);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  border-right: 1px solid black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
}

.close-btn {
  position: absolute;
  top: 0;
  left: 205px;
  font-size: 50px;
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 20px 10px;
  }

  .search-input {
    width: 85%;
    margin-top: 10px;
  }

  .logingButton,
  .registerButton,
  .homeButton {
    display: none;
  }

  .logo {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .homeButton,
  .logingButton,
  .searchButton,
  .registerButton {
    margin: 10px 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .column {
    flex: 100%;
    padding: 0 10px;
  }

  .column img {
    width: 100%;
    height: auto;
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 8px;
    overflow: hidden;
  }
}
